a {
  text-decoration: none !important;
}
:root {
  --bg: #d32e2e;
}
.main-content {
  margin-bottom: 4rem;
}
.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.hr {
  margin: 0.3rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}
.product-details {
  flex: 1.1;
  margin-right: 20px;
}

.add-to-cart {
  flex: 1;
  text-align: center;
}

.add-to-cart img {
  width: 7rem;
  height: 5rem;
  border-radius: 1rem;
}

.description {
  font-size: 0.8rem;
}
.add-btn {
  box-shadow: 1px 0px 3px 3px var(--bg);
  background: whitesmoke;
  width: fit-content;
  align-items: center;
  margin: -1rem auto 0.5rem;
  /* padding: 0.2rem 1rem; */
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 800;
  color: var(--bg);
}
.add-btn button {
  color: var(--bg);
  font-weight: 800;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
}
.added {
  border: none;
}
.quantity-update {
  border: 1px solid var(--bg);
  background: var(--bg);
  width: fit-content;
  align-items: center;
  margin: -1rem auto 0;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 800;
  color: whitesmoke;
}
.btn {
  color: white;
}

.cust {
  color: grey;
  margin-top: -0.5rem;
}

/* -------------------------------------Header Css------------------------------------ */

.header{
  background-color: var(--bg);
  border-radius: 0 0 1rem 1rem;
  color: whitesmoke;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.headername{
 text-align: center;
 font-weight: 700;
 font-size: 1.1rem;
}
.chat{
  text-align: center;
  font-weight: 700;
  background-color: whitesmoke;
  color: var(--bg);
  padding: .1rem .5rem;
  border-radius: 1rem;
  border: 1px solid darkgoldenrod;
  box-shadow: 3px 2px 3px 0px black;
}
.img img{
  height: 3.3rem;
  width: 3.3rem;
  box-shadow: -2px 1px 2px 2px black;
  border-radius: 10rem;
}